input {
    display: block;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
  
}

.body {
    display: grid;
    grid-gap: 1rem;
    
   
}

body {
    
    font-family: 'Roboto', sans-serif; 
    margin-left: 40px;
    margin-right: 40px;
  
        
}

.header > ul > li {
    padding: 26px
}

.header > ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    

}


.moodform {
  
  
    padding-top: 15px;
    border-radius: 8px;
   
    width: 305px;
}

.moodlog {
   
    padding-left: 40px;
    padding-top: 13px;
    border-radius: 10px;
    
}

.header {
    display: flex;
    text-align: left;
    text: white;
    align-items: baseline;
  
}

.signup_input {
    margin-top:10px;
    margin-bottom: 10px;
}

.loginparentdiv {
    display: grid;
    place-items: center;
}

.icon {
    width: 20px;
    padding-right: 5px;
    vertical-align: middle;
    padding-bottom: 10px;
}

.header > ul> li> a:link {
    text-decoration: none;
    color: black;
}

.header > ul> li> a:visited {
    text-decoration: none;
    color: black;
}


#welcome {
    margin-top: 5px;
}

.listElement input {
    display: inline-block;
}

.listElement label {
    display: inline-block;
}

.container {
    display: grid;
}

.emotionsform {
    min-width: 305px;
    width: 25vw;
   
}

#listOutput {
   
    width: 25vw;
    min-width: 305px;
}
#listOutput1 {
   
    width: 25vw;
    min-width: 305px;
}
#listOutput2 {
   
    width: 25vw;
    min-width: 305px;
}
#listOutput3 {
    
    width: 25vw;
    min-width: 305px;
}
#listOutput {
    
    width: 25vw;
    min-width: 305px;
}

.eventscard input {
    width: 300px;
    height: 100px;
}

#submitbutton {
    height: 30px;
    width: 80px;
}

.eventscard>ul>li>input{
    margin-top: 10px;
    margin-bottom: 10px;
}