input {
    display: block;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.body {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    border: 2px solid tomato;
}

body {

    font-family: 'Roboto', sans-serif;
}

.header > ul > li {
    padding: 26px
}

.header > ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    

}


.moodform {
    border: 2px solid rebeccapurple;
}

.moodlog {
    border: 2px solid saddlebrown
}

.header {
    display: flex;
    text-align: left;
}