html {
    min-height:155%;
    background-image:url(/static/oceanjournal.jpg);
    background-size:cover;
    box-shadow:inset 0 0 0 2000px rgba(103, 107, 109, 0.479);
    background-position: bottom 239px right -593px;
  }

input[type=text] {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}

input[type=password] {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}
body {

    margin: 80px;
    padding: 30px;
   
    color: white;

}


ul {
    list-style-type: none;
  
}

.body {
    display: grid;
    grid-gap: 1rem;
    
   
}

body {
    
    font-family: 'Roboto', sans-serif; 
    margin-left: 40px;
    margin-right: 40px;
  
        
}

.header > ul > li {
    padding: 26px
}



.header > ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: black;
    position: fixed;
    top: 0;

}


.moodform {
  
  
    padding-top: 15px;
    border-radius: 8px;
   
    width: 305px;
    margin-left: 15px;
}

.moodlog {
   
    padding-left: 60px;
    padding-top: 13px;
    border-radius: 10px;
    
}

.header {
    display: flex;
    align-items: baseline;
    padding-left: 88px;
    margin-left: -75px;
    width: 152%;
    background-color: black;
    margin-right: -85px;
    color: white;
    list-style: none;
    font-weight: bold;
    margin-bottom: 11px;
    text-align: center;
    height: 75px;
    margin-top: -111px;
    padding-bottom: 9px;
    position: fixed;
}

.signup_input {
    margin-top:10px;
    margin-bottom: 10px;
}

.loginparentdiv {
    display: grid;
    place-items: center;
}

.icon {
    width: 20px;
    padding-right: 5px;
    vertical-align: middle;
    padding-bottom: 10px;
}

.header > ul> li> a:link {
    text-decoration: none;
    color: white;
  
}

.header > ul> li> a:visited {
    text-decoration: none;
    color: white;
}


#welcome {
    margin-top: 5px;
}

.listElement input {
    display: inline-block;
}

.listElement label {
    display: inline-block;
}

.container {
    display: grid;
}

.emotionsform {
    min-width: 305px;
    width: 25vw;
   
}



#submitbutton {
    height: 30px;
    width: 80px;
}

.eventscard>ul>li>input{
    margin-top: 10px;
    margin-bottom: 10px;
}
.common-list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
  }

#listOutput {
    width: 200px;
}
#listOutput1 {
    width: 200px;
}
#listOutput2 {
    width: 200px;
}
#listOutput3 {
    width: 200px;
}
#listOutput4 {
    width: 200px;
}
#listOutput5 {
    width: 200px;
}

.events {
    width: 70vw;
}

.error_page {
    margin-left: 55px;
}