<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    <title>Mood tracker</title>
    <link rel="shortcut icon" type="image/jpg" href="/static/lightbulb.png"/>
    <script defer src="static/script.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body >
    <header>
        
        <div class="header">
       
        <ul>
          <h1 style="margin-left: 40px; margin-top: 24px;">Mood Tracker</h1>
            <li><a href="/" class="nav-bar-link"><img class="icon" src="static/home.svg">Home</a></li>
          
            <li><a href="/moodlog"><img class="icon" src="static/time-past.svg">Mood history</a></li>
            <li><a href="/graphs"><img class="icon" src="static/time-past.svg">Graphs</a></li>

         
           

            {% if username %}
          <li id="welcome">  Welcome {{username}}</li>
          <li>  <a href="/logout" class="login" ><img class="icon" src="static/logout.png">Logout</a></li>

            {%elif username == None %}
          <li>  <a href="/login" class="login" ><img class="icon" src="static/sign-in.svg">Login/Signup</a></li>
            {% endif %}
         
        
        </ul>
    </div>
    </header>

    <div class="body" >

    {% block content %}{% endblock %}
    <p style="margin-left: 57px;">Made by Sarah S, 2022</p>
    
</div>
</body>
</html>