{% extends 'base.html' %}

    {% block content %}

    <div id="container" style="width:100%; height:400px;"></div>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const chart = Highcharts.chart('container', {
          
            title: {
                text: 'Mood, Diet and Sleep over time'
            },
        
            yAxis: {
                title: {
                    text: 'Rating out of 10'
                }
            },
            series: [{
                name: 'Mood',
                data: {{mood_rating}}
            }, {
                name: 'Diet',
                data: {{diet_rating}}
            }, {
                name: 'Sleep',
                data: {{sleep_rating}}
            }],
          xAxis: {
            // convert timestamp from PSQL to epoch time in milliseconds
            categories: [{% for i in range(length) %}
    
    
    {{created_on[i]}}*1000,
   
   
   
    {% endfor %}
    ],
            labels: {
                format: '{value:%e %b %H:%M:%S}'
            }
          }
        
        });
    });
    </script>
 
 
 
 
{% endblock %}