{% extends 'base.html' %}

    {% block content %}
    
    <div><h1>Mood tracker</h1></div>

    <div class="form"> 
        <form>
            <ul>
            <li>Diet <input type="text"></li>
            <li>Medications <input type="text"></li>
            <li>Sleep <input type="text"></li>
            <li>Future events elevating mood <input type="text"></li>
            <li>Future events lowering mood <input type="text"></li>
            <li>Past activities elevating mood now <input type="text"></li>
            <li>Past stressors lowering mood now <input type="text"></li>
           
            <li>Other<input type="text"></li>

            
            <input type="submit" name="submit">
            </ul>
        </form>
    </div>



    {% endblock %}
