{% extends 'base.html' %}

    {% block content %}
    

    <div class="moodform"> 
        <form method ="POST" action="/add_mood_items">
            <ul>
            <h2>How are you feeling?</h2>
            <li>Mood rating <input name="mood_rating" value = 5 type="range" min="1" max="10"oninput="this.nextElementSibling.value = this.value"> <output>5</output></li>
            
            <li>Sleep rating <input name="sleep_rating" value = 5 type="range" min="1" max="10"oninput="this.nextElementSibling.value = this.value"> <output>5</output></li>
            <li>Diet rating <input name="diet_rating" value = 5 type="range" min="1" max="10"oninput="this.nextElementSibling.value = this.value"> <output>5</output></li>
   
            
           
            <!-- <li>Future events elevating mood <input type="text"></li>
            <li>Future events lowering mood <input type="text"></li>
            <li>Past activities elevating mood now <input type="text"></li>
            <li>Past stressors lowering mood now <input type="text"></li> -->
           
            <!-- <li>Other<input type="text"></li> -->

            
            <input type="submit" name="submit">

            </ul>
        </form>
    </div>

    <div class="moodlog">

        <h2>Mood log</h2>

        {% for i in range(length) %}
        
        <p>Date: {{created_on[i]}}</p>
        <p>Mood rating: {{mood_rating[i]}} </p>
        <p>Sleep rating: {{sleep_rating[i]}} </p>
        <p>Diet rating: {{diet_rating[i]}} </p>
       

        {% endfor %}

    </div>



    {% endblock %}
